body,h1{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Microsoft Yahei', sans-serif;
}

#bg{
	position: absolute;
	z-index: -1;
	background: url('/static/img/bg.jpg') no-repeat fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#header{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
	background: rgba(0,0,0,0.5);
}

#header a{
	text-decoration: none;
	background: transparent;
	font-size: 15px;
	font-weight: bold;
	line-height: 35px;
	margin: 0 10px 0 10px;
	color: rgba(255,255,255,0.5);
}

#title{
	float: left;
}

.account{
	float: right;
}

#LOGO{
	height: 100%;
	width: 100%;
}

.LOGO{
	margin-left: 0;
}

#key{
  /*font-size: 18px;*/
  line-height: 28px;
  display: block;
  float: left;
  width: 60%;
  padding: 10px;
  /*border: none;
  outline: none;*/
}

#sub-button{
	font-size: 20px;
	/*line-height: 48px;*/
	display: block;
	float: left;
	width: 20%;
	height: 48px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border: none;
	background-color: #00b7ff;
}

#select_box{
	font-size: 20px;
	/*line-height: 48px;*/
	display: block;
	float: left;
	width: 20%;
	height: 48px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	color: #fff;
	border: none;
	background-color: #00b7ff;
}

.footer h5,a{
	text-align: center;
	color: #fff;
}

#footer{
	position: absolute;
	bottom: 0;
	left: 0;
}

@media (min-width: 300px){
.LOGO{
	margin-top: 40%;
}

#key{
	line-height: 20px;
	padding: 7px;
}

#sub-button{
	height: 34px;
	font-size: 15px;
	line-height: 34px;
}
}

@media (min-width: 768px){
.LOGO{
	margin-top: 40%;
}
#key{
	line-height: 34px;
	padding: 5px;
}

#sub-button{
	height: 48px;
	font-size: 20px;
	line-height: 48px;
}
}

@media (min-width: 992px){
.LOGO{
	margin-top: 22%;
}
}
